.Ingredient_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); /* заполняет все пространство */
  gap: 13px;
  @media (max-width:435px) {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }
  column-gap: 10px;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #FE5F00; 
        border-radius: 53px; 
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
}
