.cart_page {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #FE5F00; 
        border-radius: 53px; 
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
}