.form {
@media(max-width:546px) {
    padding:32px 30px ;
    width: 90%;
}
@media(max-width:455px) {
    padding:32px 20px ;
    width: 90%;
}
}
.xmark{
    @media(max-width:546px) {
        right: 10px !important;
        top: 10px !important;
       
        svg {

            fill: black;
        }
    }
    }
